body
	{
	 font-family:Verdana, sans-serif;
	 font-size:85%;
     color:#333;
	 background-color:#eee;
     padding:0;
     margin:0;
	}

h2
	{
	 text-align:center;
     color:#eee;	
    }
h3
	{
	 margin:0 0 20px 0;
	 border-top:1px solid #ccc;
	 border-bottom:1px solid #ccc;
	 text-align:center;
     color:#eee;
	}

a
	{
     color:#eee;
	 text-decoration:none;
	}
a:hover, a:active
	{
	 color:#555;
	}

#major
	{
	 padding:10px;
	 margin:0 auto;
     width:85%;
	 background-color:#25a;
	}
#tabel
    {
     width:95%;
     padding:20px;
    }

tbody
	{
	 display:table-row-group;
	 vertical-align:middle;
	}

tr
	{
	 display:table-row;
	}

#left_col
	{
	 text-align:center;
	 background-color:#58e;
	 width:15%;
	 border:2px solid #ccc;
	 padding:15px;
	 margin-right:30px;
	}

#main
	{
	 width:65%;
     margin-left:5px;
     margin-right:5px;
	}

#tlink
    {
     width:20%;
    }

a.k_link
	{
	 background-color:#58e;
     border:2px solid #ccc;
	 font-weight:bold;
     padding:5px;
	}

#ev
	{
	 text-align:center;
	 font-weight:bold;
     color:#333;
	}

#ev td
    {
     background-color:#eee;
    }

ul.list
	{
	 list-style-type:none;
	 padding:0;
	 margin:0;
     font-weight:bold;
	}

#form_wrap
    {
     background-color:#25a;
     color:#eee;
     width:85%;
     margin:0 auto;
     padding:10px 10px 30px 10px;
    }

#confirm_wrap
    {
     background-color:#25a;
     color:#eee;
     width:85%;
     margin:0 auto;
     position:relative;
     top:50px;
     padding:10px 10px 30px 10px;
    }
