<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html lang="en">

  	<head>

		<title>Comenzi Kana - Confirmă închiderea comenzilor pentru {{ order_date }}</title>
		
   	 	<meta name="description" content="abc">
    	<meta name="keywords" content="def">
		
	    <link rel="stylesheet" type="text/css" media="screen" href="/media/style.css">

	</head>

    <body>
        
        <div id = "close_wrap" align="center">
        <p>Sigur dorești să închizi comenzile pentru {{ order_date }} ?</p>
        <form action="" method="POST">
            <input type="hidden" name="order_date" value="{{ order_date }}">
            Parola:
            <input type="password" name="parola">
            <br><br>
            <input type="submit" name="confirm" value="da">
            <input type="button" name="cancel" value="nu" onclick = "window.history.back()">
        </form>
        </div>
        
    </body>

</html>
