<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">

  	<head>

		<title>Comenzi Kana - Confirmă anularea comenzii</title>
		
   	 	<meta name="description" content="abc">
    	<meta name="keywords" content="def">
		
	    <link rel="stylesheet" type="text/css" media="screen" href="/media/style.css">

	</head>

    <body>
        
        <div id = "confirm_wrap" align="center">
        <p>Sigur dorești să anulezi comanda ?</p>
        <form action="" method="POST">
            <input type="hidden" name="id" value="{{ order.id }}">
            <input type="submit" name="confirm" value="da">
            <input type="button" name="cancel" value="nu" onclick = "window.history.back()">
        </form>
        </div>
        
    </body>

</html>
