<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html lang="en">

  	<head>

		<title>Comenzi Kana - Index</title>
		
   	 	<meta name="description" content="abc">
    	<meta name="keywords" content="def">
		
	    <link rel="stylesheet" type="text/css" media="screen" href="/media/style.css">

	</head>


	<body>

    <br><br><br>

	<div id = "major">	

        <div id = "header">

        <br>
		<h2>COMENZI KANA - EVIDENȚA</h2>

        <div id = "history" align="center">
            
            <ul class = "hist">
            {% for d in date_set %}
                {% ifnotequal string(d.delivery_date) order_date %}
                    <li class="inact">
				    <a href="/{{ d }}"><b>{{ d }}<b></a>
                    </li>
                {% else %}
                    <li class="act">
                    <a href="/{{ d }}"><b>{{ d }}<b></a>
                    </li>
                {% endifnotequal %}
            {% endfor %}
            </ul>
            
        </div>

        </div>

        <div id = "contents">

            <div id = "main" align="center">

            <br><br>		

		    {% if order_set %}
		    	<h3>Comenzile pentru ziua de {{ order_date }}:</h3>	
		    	<table id = "ev" frame="box" cellpadding="5" bgcolor="#69f" align="center">
		    	<tr>
		    	<th>Client</th>
		    	<th>Comandă</th>
		    	<th>Preț (RON)</th>
                {% if not sent %}
                	<th>Anulare</th>
                {% endif %}
		    	</tr>
		    	{% for order in order_set %}
		    		<tr>
		    		<td>{{ order.user }}</td>
		    		<td>{{ order.order }}</td>
		    		<td>{{ order.price }}</td>
                    {% if not sent %}
                        <td id="delete">
                            <form action="/anulare" method="POST">
                                <input type="hidden" name="id" value="{{ order.id }}">
                                <input type="submit" value="X">
                            </form>
                        </td>
                    {% endif %}
		    		</tr>
		    	{% endfor %}
		    	<tr>
		    	<th colspan=2>TOTAL</th>
		    	<td>{{ order_total }}</td>
		    	</tr>
			    <tr>
			    <td colspan=4>
				    {% for o in order_summary %}
					    {{ o.count }}x{{ o.what }},
				    {% endfor %}
			    </td>
			    </tr>
                {% if sent %}
                    <tr><th colspan=3><b>COMENZI ÎNCHISE</b></th></tr><div>
                {% endif %}
		    	</table>

		    {% else %}
		    	<h3>Nu există comenzi pentru {{ order_date }}.</h3>
    
		    {% endif %}
		
            </div>
		        
            <br>

            <div id="links" align="center">
                <form action="/new">
                    <input type="submit" value="COMANDĂ NOUĂ">
                </form>

                <br>
                <br>

                {% if not sent %}
                    <form action="/inchidere" method="POST">
                        <input type="hidden" name="order_date" value="{{ order_date }}">
                        <input type="submit" value="ÎNCHIDERE COMENZI">
                    </form>
                {% endif %}
            </div>

        </div>

    <h4>Pentru sugestii/probleme: <a href="http://trac.eaudeweb.ro/edw/wiki/OrderTheFood">Wiki</a></h4><br><br>

    </div>
	
	</body>		
		
</html>
