<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html>

	<head>
		<title>Comenzi Kana - Comandă nouă</title>

		<meta name="description" content="abc">
		<meta name="keywords" content="def">

    	<link rel="stylesheet" type="text/css" media="screen" href="/media/style.css">
	</head>

	<body>

        <br><br><br>

        <div id = "form_wrap" align="center">
        
		<form action="" id="formular" method="post">

		{{ form.as_p }}

		<p>
		<input type="submit" value="confirmă comanda" tabindex="3" />
        <input type="button" value="anulează comanda" tabindex="4" onclick = "window.history.back()" />
		</p>

		</form>

        <br><br>
        
        <iframe src="http://www.kana.ro/meniu.php">
            <marquee><p>Meniu: <a href="http://www.kana.ro/meniu.php" target="_blank">http://www.kana.ro/meniu.php</a></p></marquee>    
        </iframe>
        </div>

        <div id="savior">
        </div>

	</body>

</html>
